.contenedores_Iconos_contacto {
    width: 18%;
    margin: 0rem 1rem;
}
.contenedores_Iconos_contacto img {
    width: 100%;
}
@media only screen and (min-width: 550px) {
    .contenedores_Iconos_contacto {
        width: 12%;
    }
    .projects_section .Contenedor_foto {
        width: 16%;
    }
}