.Direccion_columna {
    flex-direction: column;
}
.margin {
    width: 90%;
}

.Strong_Inicio {
    font-size: 8rem;
    font-weight: normal;
    position: relative;
    height: 5rem;
    right: calc(21% - ((100vw - 350px) * 0.025));
}

.contenedor_iconos {
    flex-wrap: wrap;
}
.container_cada_icono {
    width: 20%;
    margin: 1rem 0.2rem;
}
.container_cada_icono img {
    width: 100%;
}
.posicion_Texto {
    text-align: justify;
    font-size: 0.9rem;
    width: 60%;
    margin-bottom: 0;
    position: relative;
    left: 17%;
}
.posicion_titulos {
    font-weight: 600;
    position: relative;
    right: 17%;
    margin: 2rem 0 0.5rem 0;
}

.container_certificado {
    width: 45%;
    border: black 0.2rem solid;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-top: 2rem;
}
.Zoom_certificado {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.95);
    height: 100vw;
}
img {
    width: 100%;
}
@media only screen and (min-width: 700px) {
    .margin {
        width: 70%;
    }
    .posicion_Texto {
        font-size: 1rem;
    }
    .posicion_titulos {
        font-size: 1.4rem;
    }
    .contenedor_iconos {
        width: 60%;
    }
    .Zoom_certificado {
        height: 40vw;
        width: 40vw;
    }
}
@media only screen and (min-width: 900px) {
    .margin {
        width: 60%;
    }
}
@media only screen and (min-width: 1200px) {
    .margin {
        width: 50%;
    }
}